/* Style for the INDEX2.HTML page */


/* Style for the header */

#header_outside_container {
    /* border: 2px solid green; */
    background-color: gray;
    height: 100px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

#header_inside_container {
    margin: auto;
    width: 50%;
    /* border: 2px solid yellow; */
    padding: 5px;
}

#header_text {
    text-align: center;
    color: black;
}


/* Style for the main */

#main_container {
    margin-top: 5px;
    width: 99%;
    border: 5px solid black;
    padding: 5px;
    display: flex;
    justify-content: center;
    height: 400px;
    background-color: white;
}

#student_login_container {
    /* border: 2px solid red; */
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #999999;
    color: black;
}

#student_login_container:hover {
    background-color: gray;
}

#employer_login_container {
    /* border: 2px solid pink; */
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #999999;
}

#employer_login_container:hover {
    background-color: gray;
}


/* Style for the footer */

#footer_container {
    margin-top: 5px;
    width: 100%;
    border: 2px solid black;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: gray;
}

#footer_text_container {
    /* border: 2px solid purple; */
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    color: black;
}

#footer_account_container {
    border: 2px solid black;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    background-color: white;
    height: auto;
    display: block;
    position: relative;
    width: auto;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

#footer_text_account {
    color: black;
    position: relative;
    display: inline-block;
    width: auto;
    padding: 0px;
    margin: 0px;
}

a.click_footer {
    text-decoration: none;
}

#footer_account_container:hover {
    background-color: #D3D3D3;
}


/* END OF STYLE FOR INDEX2.HTML PAGE */


/* START OF STYLE FOR CREATE_ACCOUNT.HTML PAGE */


/* Style for the main form */

#form_container {
    width: 50%;
    margin: auto;
    border: 2px solid green;
    padding: 5px;
}

#form_container_contents {
    width: 50%;
    margin: auto;
    border: 2px green solid;
    padding: 5px;
}

.form_style {
    text-align: center;
    padding: 5px;
}

label.form_style {
    padding: 5px;
}


/*create an account page (2nd-Jay)*/


/*create an account page (2nd-Jay)*/

body {
    font-family: Raleway;
}


/* Navigation Menu*/

.navMenu {
    display: inline-block;
    width: 70%;
    text-align: center;
}

.navMenuItem a {
    float: left;
    padding-right: 90px;
    font-size: 24px;
    text-decoration: none;
}

.navMenuItem a:hover {
    padding-right: 90px;
    font-size: 24px;
    color: #0F0F0F;
}

.navMenuItem li {
    display: inline-block;
    list-style: none;
    padding-right: 120px;
    font-size: 24px;
}


/* Header Layout */

.header {
    background-color: #D3D3D3;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

.headerLogo {
    display: inline-block;
    width: 20%;
    margin-right: 10px;
    padding-left: 60px;
}


/* Content Margins */

.content {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 150px;
    margin-left: 80px;
}


/* For Form Inputs Spacing */

input {
    text-align: center;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

table {
    text-align: center;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 20px;
    width: 50%;
}

td.width {
    width: 200px;
}

td.width2 {
    width: 50%;
}

input.width {
    width: 60%;
}

input.width1 {
    margin: auto;
    width: 30%;
}


/* Below is the style for the profile_page.html */

.profile_page_main_container {
    border: 2px solid red;
    width: auto;
    height: 800px;
    /* MAKE THIS DYNAMIC AND FLUID*/
    display: flex;
    /* overflow: hidden; */
    padding: 15px;
    margin: 15px;
}

.profile_page_info_container {
    border: 1px solid burlywood;
    width: 40%;
    height: 100%;
    display: inline-block;
    margin-right: 5px;
    padding: 10px;
}

.profile_page_heading_text_container {
    border: 5px solid violet;
    height: 5px;
}

.profile_page_picture_container {
    border: 5px solid violet;
    margin: auto;
    margin-top: 5px;
    width: 50%;
}

.profile_page_information_container {
    border: 5px solid violet;
    margin-top: 5px;
}

.profile_page_bio_container {
    border: 5px solid violet;
    margin-top: 5px;
}

.profile_page_exp_container {
    border: 5px solid violet;
    margin-top: 5px;
}

.profile_page_interests_container {
    border: 5px solid violet;
    margin-top: 5px;
}

.profile_page_resume_container {
    border: 2px solid green;
    width: 60%;
    display: inline-block;
    float: right;
    height: 95%;
    margin-left: 5px;
    padding: 5px;
}

.profile_page_resume_image_container {
    border: 2px solid violet;
    height: 90%;
}

.profile_page_button_container {
    border: 2px solid black;
    height: 8%;
    margin-top: 2px;
    padding: 2px;
    display: flex;
    justify-content: center;
    width: auto;
}

.profile_page_upload_container {
    border: 2px solid brown;
    width: 15%;
    height: 90%;
    margin: auto;
    background-color: gray;
    text-align: center;
}

.profile_page_comment_container {
    border: 2px solid hotpink;
    width: 15%;
    height: 90%;
    margin: auto;
    background-color: gray;
    text-align: center;
}


/* End of the style for the profile_page.html */