/* For Form Inputs Spacing */

input {
    text-align: center;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

table {
    text-align: center;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 20px;
    width: 40%;
}

td.width {
    width: 150px;
}

td.width2 {
    width: 40%;
}

input.width {
    width: 50%;
}

input.width1 {
    margin: auto;
    width: 30%;
}
