
.create_listing_form_container {
   /*  border: 2px solid green; */
    width: 80%;
    height: auto;
    margin: auto;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 30px;
    align: center;
}

.create_listing_form_table_container {
    /*  border: 2px solid yellowgreen; */ 
    width: auto;
    margin-right: 5px;
    padding: 5px;
    cell-spacing: 25px;
    float: left;
    margin-left: auto;
    display: inline-block;
    position: relative;
}

.create_listing_form_right_container {
    /*  border: 2px solid pink; */
        
    width:auto;

    text-align: center;
    margin-right: auto;
    display: inline-block;
    top: 50%;
}

.creating_listing_content_container {
    /*  border: 2px dashed slateblue */;
    overflow: hidden;
    height: auto;
    margin: auto;
    padding: 5px;
    display: flex;
}

label {
    font-size: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
    height: 30px;
    width: 200px;
}

tr {
    height: 75px;
}

td {
    padding-left: 10px;
}

form {
    width: auto;
    margin: auto;
}

.create_listing_button_continer {
    /* border: 2px solid rebeccapurple; */
    width: 50%;
    margin: auto;
}

button {
    margin: auto;
    display: flex;
}
body {
    margin-bottom:50px;
}

textarea{
    resize: none;
}
